header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer {
    text-align: center;
    padding: 16px;
    
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 50px;

  }
 
  nav {
    display: flex;
    gap: 30px;

  }

.nasa-image {
    display: block;
    margin: 20px auto;
    width: 300px;
    transition: transform 3s ease-in-out;
  }
  
  /* Zoom in on hover */
  .nasa-image:hover {
    transform: scale(1.1); 
  }
  

@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px); /* Moves 10px to the right */
    }
    100% {
      transform: translateX(0); /* Moves back to original position */
    }
  }
  
  .nasa-image {
    display: block;
    margin: 20px auto;
    width: 300px;
    animation: moveImage 0s infinite ease-in-out;
  }
  
  .nasa-image1 {
    display: block;
    margin: 20px auto;
    width: 300px;
    animation: moveImage 4s infinite ease-in-out;
  }
.rocket {
    position: absolute;
    left: -100px; /* Start off-screen */
    bottom: 20px; /* Height above the bottom of the screen */
    width: 100px; /* Size of the rocket */
  }
  

  @keyframes flyAcross {
    0% {
      left: -100px; /* Start off-screen on the left */
      bottom: 20px; /* Start low on the page */
    }
    50% {
      left: 50vw; /* Move to the middle of the screen horizontally */
      bottom: 200px; /* Rise to mid-height */
    }
    100% {
      left: 100vw; /* End off-screen on the right */
      bottom: 50px; /* End lower to the ground */
    }
  }
  
  /* Apply the animation to the rocket */
  .rocket {
    animation: flyAcross 5s linear infinite; /* Animate for 5 seconds, repeat infinitely */
  }
  
  #results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  
  #results-container img {
    width: 200px; /* Image width */
    height: 150px; /* Optional: Add height to standardize image size */
    object-fit: cover; /* Keep aspect ratio and cover the area */
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .search-input {
    width: 200px;
    height: 30px;
    margin: 20px;
    
    transition: width 0.3s, box-shadow 0.3s; /* Smooth transition */
  }
  
  .search-input:focus {
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-button {
    width: 100px;
    height: 40px;
    font-size: x-large;
  }

  .date-select {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: x-large;
  }

  .get-media-button {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: x-large;
  }